@charset "utf-8";

body {
    background-color: #FFF;
    display: grid; 
    flex-direction: column;
    font-family: serif;
    gap: 0px;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-height:100vh;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 100% 0%;
    }
}

header {
    background-color: #ADA;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: 5%;
    border-bottom: 1px solid black;
    font-weight: bold;
    grid-column: 1 / 3;
    grid-row: 1;
    padding: .5em 1em 0em;
}

aside {
    background-color: #CCC;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: auto;
    max-height: 90vh;
    max-width: min(64em, 96%);
    overflow-y: auto;
    padding: 0.5em;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 800px) {
    aside {
        display: none;
    }
}

aside ::marker {
    content: "・";
}

aside span {
    font-size: 1.5em;
}

aside ul {
    margin: 0;
    padding-left: 1.5em;
}

main {
    background-color: white;
    border-right: 1px solid gray;
    grid-column: 1;
    grid-row: 2;
    padding: 0 1em;
    max-width: min(64em, 96%);
}

footer {
    background-color: black;
    grid-column: 1 / 3;
    grid-row: 3;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 0.5em 0em 0.2em;
}

h2::after {
    content: "";
    border-top: .1em solid teal;
    display: block;
    width: 96%;
}

h3 {
    border-left: 0.5em solid black;
    background-color: #CCC;
    font-size: 1.5em;
    margin: 1.5em 0em 0.5em;
    padding-left: 0.5em;
}

h4 {
    margin-bottom: 0;
    width: fit-content;
}

h4::after {
    content: "";
    border-top: .1em solid black;
    display: block;
}

div.adjacent {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
}

@media screen and (max-width: 800px) {
    div.adjacent {
        flex-direction: column;
    }
}

div.adjacent img, ul.article-list img {
    margin: 0em 1rem;
    height: 4em;
}

div.adjacent a, ul.article-list a {
    align-items: center;
    border: 1px solid black;
    border-radius: 1em;
    color: black;
    display: flex;
    flex: 1;
    font-weight: bold;
    height: 4rem;
    margin: 2px;
    padding: .5rem;
    text-decoration: none;
}

a.prev {
    background-image: url("../images/prev.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

a.prev::before {
    color: blue;
    content: "☜";
    font-size: 2em;
}

a.next {
    background-image: url("../images/next.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: row-reverse;
}

a.next::before {
    color: blue;
    content: "☞";
    font-size: 2em;
}

ul.article-list {
    padding: 0;
}

ul.article-list a {
    max-width: max(36em,80%);
}

img.copy {
    display: inline;
    margin-left: 0.3em;
    visibility: hidden;
    height: 1em;
    vertical-align: -10%;
}

img.copy:hover {
    cursor: pointer;
}

:hover > img.copy{
    visibility: visible;
}

a, a:visited {
    color: #06C;
    text-decoration: none;
}

a:active {
    color: red;
}

a:hover {
    text-decoration: underline;
}

a[href^="http"]::after {
    content: "　";
    background-image: url("../images/external.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

a.text {
    color: black;
}

a.text:hover {
    text-decoration: none;
}

div.figure {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    align-items: center;
}

div.figure img {
    max-width: min(500px,96%);
}

div.figure span::before {
    content: "▲ ";
}

p {
    text-indent: 1em;
    margin: 0;
}

paragraph {
    display: block;
    margin: 0.5em 0 0;
    text-indent: 1em;
}

paragraph:first-child {
    margin: 0;
}

paragraph * {
    text-indent: 0;
}

strong {
    color: red;
}

ol, ul {
    margin: 0.5em 0;
    padding-left: 2em;
}

ol.Alpha {
    counter-reset: Alpha;
}

ol.Alpha li {
    counter-increment: Alpha;
}

ol.Alpha li::marker {
    content: "(" counter(Alpha, upper-alpha) ") ";
}

ol.alpha {
    counter-reset: alpha;
}

ol.alpha li {
    counter-increment: alpha;
}

ol.alpha li::marker {
    content: "(" counter(alpha, lower-alpha) ") ";
}

ol.arabic {
    counter-reset: arabic;
}

ol.arabic li {
    counter-increment: arabic;
}

ol.arabic li::marker {
    content: "(" counter(arabic) ") ";
}

ol.Roman {
    counter-reset: Roman;
    padding-left: 3em;
}

ol.Roman li {
    counter-increment: Roman;
}

ol.Roman li::marker {
    content: "(" counter(Roman, upper-roman) ") ";
}

ol.roman {
    counter-reset: roman;
    padding-left: 3em;
}

ol.roman li {
    counter-increment: roman;
}

ol.roman li::marker {
    content: "(" counter(roman, lower-roman) ") ";
}

ol#ref-list {
    counter-reset: index;
    padding-left: 3em;
}

ol#ref-list li {
    counter-increment: index;
}

ol#ref-list li::marker {
    content: "[" counter(index) "] ";
}

code {
    background-color: #DEF;
    border-radius: 0.2em;
    font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace;
    padding: 0.1em;
}

del {
    color: gray;
}

details {
    background-color: #EED;
    margin-bottom: 1em;
    margin-top: 1em;
}

details > div.box {
    margin-top: 0;
    opacity: 0;
    transform: translateY(-1em);
    transition: 0.5s;
}

details[open] > div.box {
    opacity: 1;
    transform: none;
}

summary {
    background-color: #DDB;
    border: 1px #775 solid;
    cursor: pointer;
    list-style: none;
    position: relative;
    z-index: 1;
}

summary::before {
    content: "➤";
    display: inline-block;
    padding: 2px 0.5em;
    transition: 0.5s;
}

details[open] summary::before {
    transform: rotate(90deg);
}

mjx-container {
    overflow: auto hidden;
    scrollbar-width: none;
    -ms-overflow-style
}

mjx-container::-webkit-scrollbar {
    display: none;
}

body mjx-container[jax="SVG"][display="true"] {
    margin: 0.5em 0;
}