<!DOCTYPE html>
<html lang="ja">
<head>
    <title>記事名</title>
    <meta charset="utf-8" />
    <meta name="author" content="mathphilia" />
    <meta name="theme-color" content="#5D5" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:description" content="記事内容の説明 記事内容の説明 記事内容の説明 記事内容の説明 記事内容の説明 記事内容の説明 記事内容の説明" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="数学雑記帖" />
    <meta property="og:title" content="記事名" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://mathphilia.github.io/math/misc/template" />
    <script src="/math/files/js/mathjax_config.js"></script>
    <script src="../thumbnail/thumbnail.json.js"></script>
    <script src="/math/files/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
    <link rel="stylesheet" href="/math/files/css/style.css" />
    <link rel="stylesheet" href="/math/files/css/theorem.css" />
    <link rel="icon" href="https://avatars.githubusercontent.com/u/104004553" />
</head>
<body>
<header>
<h1><a class="text" href="">数学雑記帖</a></h1>
<span><a href="../../">TOP</a> / <a href="../">その他</a> / 記事名</span>
</header>
<aside><span>目次</span><ul id="h3-list"></ul></aside>
<main>
<div class="adjacent">
    <a class="prev"></a>
    <a class="next"></a>
</div>
<h2>記事名</h2>
<h3 id="section-name">章名</h3>
<p>数学におけるRiemannゼータ関数は、18世紀にバーゼル問題を解決したLeonhard Eulerによる(現在Riemannゼータ関数と呼ばれる)関数の特殊値に関する重要な発見から始まり、後世により重要な貢献をしたBernhard Riemannが用いた$\zeta$による表記にちなみ、Riemannゼータ関数またはRiemannのゼータ関数とも呼ばれる。Riemannゼータ関数は、数学の分野のひとつである解析的整数論において素数分布の研究をはじめとした重要な研究対象であり、数論や力学系の研究をはじめ数学や物理学などの様々な分野で用いられているゼータ関数と呼ばれる一連の関数の中でも、最も歴史的に古いものである。</p>
<div id="definition1" class="box definition">
    <div class="title">Riemannゼータ函数 (参考文献<a>[2]</a>)</div>
    <div class="content">実部が$1$より大きい複素数全体で定義された函数$f(s)\coloneqq\dsum_{n=1}^\infty\frac1{n^s}$は$1$を除く複素数全体に解析接続できる。この解析接続後の函数を$\zeta$と書き、<strong>Riemannゼータ函数</strong>という。</div>
</div>
<div id="remark1" class="box remark">
    <div class="title"></div>
    <div class="content">引数に当たる変数が$x$や$z$でなく$s$になっているが、これはゼータ函数周辺の分野における慣例である。実部と虚部に分けて変数を書く場合は$\zeta(s+ti)$のように書く。また、一般にゼータ函数と言った場合はDedekindゼータ函数, 数論的ゼータ函数, 合同ゼータ函数, Hurwitzのゼータ函数など他の類似函数を含むことがある。</div>
</div>
<div class="figure"><img alt="突然のBernhard Riemann" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Georg_Friedrich_Bernhard_Riemann.jpeg/450px-Georg_Friedrich_Bernhard_Riemann.jpeg"><span>突然のBernhard Riemann</span></div>
<div id="proof1" class="box proof">
    <div class="title">上の画像がBernhard Riemannの肖像画であること</div>
    <div class="content">Wikipediaにそう書いてあったので自明。ついでに函数等式$$\zeta(s)=2^s\pi^{s-1}\sin\frac{\pi s}2\Gamma(1-s)\zeta(1-s)$$でも置いておく。</div>
</div>
<h3 id="reference">参考文献</h3>
<ol id="ref-list">
    <li id="self"><a href>数学雑記帖</a></li>
    <li id="Wikipedia"><a href="https://ja.wikipedia.org/wiki/リーマンゼータ関数">リーマンゼータ関数 - Wikipedia</a></li>
</ol>
<div class="adjacent">
    <a class="prev"></a>
    <a class="next"></a>
</div>
</main>
<footer>created by mathphilia</footer>
</body>
</html>